<ion-view title="Colors" left-buttons="leftButtons">
        <ion-content padding="false" class="filters-rightside">
          <pr-top-bar></pr-top-bar>
				<ion-list>
				<div class="item item-divider filters-dividers">
			    	Pick a color
			  	</div>
			  	</div>
					<div class="row">
						<div class="col filters-col">
							<ion-checkbox class="checkbox-stable" ng-model="filter.red">Red{{filter.red}}</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.orange">Orange</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.yellow">Yellow</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.green">Green</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.silver">Silver</ion-checkbox>
						</div>
						<div class="col filters-col">
							<ion-checkbox class="checkbox-stable" ng-model="filter.blue">Blue</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.purple">Purple</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.black">Black</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.white">White</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.gold">Gold</ion-checkbox>
						</div>
					</div>
				</ion-list>
			<button class="button button-calm filters-clearbutton">Clear Colors</button>
        </ion-content>
      </ion-view>
