<ion-view title="Colors" left-buttons="leftButtons">
        <ion-content padding="false" class="filters-rightside">
          <pr-top-bar></pr-top-bar>
				<ion-list>
				<div class="item item-divider filters-dividers">
			    	Pick a color
			  	</div>
			  	</div>
					<div class="row">
						<div class="col filters-col">
							<ion-checkbox class="checkbox-stable" ng-model="filter.red">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.orange">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.yellow">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.green">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.silver">Color</ion-checkbox>
						</div>
						<div class="col filters-col">
							<ion-checkbox class="checkbox-stable" ng-model="filter.blue">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.purple">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.black">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.white">Color</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.gold">Color</ion-checkbox>
						</div>
					</div>
				</ion-list>
			<button class="button button-calm filters-clearbutton">Clear Colors</button>
        </ion-content>
      </ion-view>
