 <ion-view title="Condition" left-buttons="leftButtons">
        <ion-content padding="false" class="filters-rightside">
          <pr-top-bar></pr-top-bar>
				<ion-list>
				<div class="item item-divider filters-dividers">
			     How would you like your products?
			  	</div>
					<div class="row">
						<div class="col filters-col">
							<ion-checkbox class="checkbox-stable" ng-model="filter.condition.new">New</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.condition.newtags">New With Tags</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.condition.likenew">Like New</ion-checkbox>
							<ion-checkbox class="checkbox-stable" ng-model="filter.condition.used">Used</ion-checkbox>
						</div>
					</div>
				</ion-list>
			<button class="button button-calm filters-clearbutton">Clear Conditions</button>
        </ion-content>
      </ion-view>
