
<ion-view >
        <ion-content padding="false" class="filters-rightside">
          <div class='top-header'>
            <div class="buttons">
              <button class="button button-clear btn-cancel">Cancel</button>
              <button class="button button-clear btn-apply">Apply</button>
      			</div>
          </div>

          <div class="list filters-price">
	           <div class="item item-divider filters-dividers">
			    Max Price Per Product
			  </div>
			  <div class="item range range-positive">
			    $20
			    <input type="range" name="volume" min="0" max="100" value="33">
			    $10,000
			  </div>
			</div>

			<ion-list>
			 <div class="item item-divider filters-dividers">
			    Price Ranges
			 </div>
				<div class="row">
					<div class="col filters-col">
						<ion-checkbox ng-model="filter.p1" class="checkbox-stable filters-pricerange">$25-$50</ion-checkbox>
						<ion-checkbox ng-model="filter.p2" class="checkbox-stable filters-pricerange">$50-$100</ion-checkbox>
						<ion-checkbox ng-model="filter.p3" class="checkbox-stable filters-pricerange">$100-$200</ion-checkbox>
					</div>
					<div class="col filters-col">
						<ion-checkbox ng-model="filter.p4" class="checkbox-stable filters-pricerange">$200-$500</ion-checkbox>
						<ion-checkbox ng-model="filter.p5" class="checkbox-stable filters-pricerange">$500-$1000</ion-checkbox>
						<ion-checkbox ng-model="filter.p6" class="checkbox-stable filters-pricerange">$1000+</ion-checkbox>
					</div>
				</div>
			</ion-list>

			<button class="button button-calm filters-clearbutton">Clear Prices</button>
        </ion-content>
      </ion-view>
