<ion-view title="Size" left-buttons="leftButtons">
        <ion-content padding="false" class="filters-rightside">
          <pr-top-bar></pr-top-bar>
			<ion-list>
			<div class="item item-divider filters-dividers">
			    Select your size
			  </div>
				<div class="row">
					<div class="col filters-col">
						<ion-checkbox class="checkbox-stable" ng-model="filter.xxs">00 <b>XXS</b></ion-checkbox>
						<ion-checkbox class="checkbox-stable" ng-model="filter.xs4">4 S</ion-checkbox>
						<ion-checkbox class="checkbox-stable" ng-model="filter.m">10 M</ion-checkbox>


					</div>
					<div class="col filters-col">
						<ion-checkbox class="checkbox-stable" ng-model="filter.xs0">0 XS</ion-checkbox>
						<ion-checkbox class="checkbox-stable" ng-model="filter.s6">6 S</ion-checkbox>
						<ion-checkbox class="checkbox-stable" ng-model="filter.l">12 L</ion-checkbox>

					</div>
					<div class="col filters-col">
						<ion-checkbox class="checkbox-stable" ng-model="filter.xs2">2 XS</ion-checkbox>
						<ion-checkbox class="checkbox-stable" ng-model="filter.s8">8 M</ion-checkbox>
						<ion-checkbox class="checkbox-stable" ng-model="filter.xl">14 XL</ion-checkbox>
					</div>
				</div>
			</ion-list>
			<button class="button button-calm filters-clearbutton">Clear Sizes</button>
        </ion-content>
      </ion-view>
